html,
body {
  font-family: 'Crimson Pro', serif;
  font-size: 18px;
  color: white;
  margin: 1em;
  background-color: rgb(48, 46, 46);
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

header {



  .logo {
    height: 150px;
    font-size: 16px;
    border: solid 1.2px;
    font-family: Crimson Pro;
    font-style: normal;
    font-weight: 200;
  }

  .navigation {

    justify-content: center;
    text-align: center;
    float: right;


  }


  * {
    display: inline;
    cursor: pointer;

  }

  li {
    text-align: center;
    margin: 25px;
  }

  li a {

    font-family: Montserrat;
    font-style: bold;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all .2s ease-in-out;

  }

  li a:hover {
    text-decoration: bold;
    color: rgb(158, 60, 4);
    transform: scale(1.1);
    text-decoration: 5px bold;

  }
}



h2 {
  font-size: 36px;
  font-family: Lora;

}


.text>p {

  font-family: Montserrat;
  font-weight: 300;
  font-size: 20px;
  color: silver;

}

text.a {
  font-family: 18px, Montserrat;

}

.container {
  padding-top: 30px;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}


.text {

  a {
    text-decoration: none;
    color: white;
  }
}


.photo {
  position: relative;
  // transform: matrix(-1, 0, 0, 1, 0, 0);

}

.photo>img {
  float: right;
  display: flex;
  max-width: 75%;
  z-index: 3;
  margin-bottom: 45px;

}



footer {
  font-style: normal;
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 10px;
  // position: absolute;
  height: 2.5rem;
  font-size: 1vw;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 100px;

}


.small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  bottom: -30px;
  right: 30px;
  z-index: 3;
  width: 50%;
  height: 35%;
  background-color: black;
  grid-template-areas:
    "img avatar  avatar avatar . ."

    " p p p p . . ";

  img {
    grid-area: img;
    max-width: 5vw;

  }

  img {
    border-radius: 50%;
  }

  .avatar {
    justify-content: center;
    flex-direction: column;
    grid-area: avatar;
    // margin: 20px 10px 10px 20px;
  }

  .name {
    font-size: 1vw;
    line-height: 15px;
  }

  .work {
    color: silver;
    font-size: 0.8vw;
  }


  p {
    margin: 0;
    padding: 0;
    grid-area: p;
    font-size: 1.8vw;
  }
}


.text>a>img {
  background-color: white;

}

.fa-long-arrow-right {
  margin-left: 10px;

}

.text>a {
  transition: all .1s;
}

.text>a:hover {

  border-style: solid;


}

.hamburger {
  display: none;
}





@media screen and (max-width: 900px) {


  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
  }

  .text>p {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 3vw;
    color: silver;
    max-width: 75%;
  }


  .photo>img {
    max-width: 100%;

  }


  //   hamburger menu
  .hamburger {
    float: right;
    display: grid;
    color: red;
    background-color: white;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
  }



  .hamburger,
  .navigation {
    transition: transform .3s .1s ease-in-out;
  }



  .hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
    z-index: 99;

  }

  @mixin hamburger-line {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
  }

  .hamburger__inner {
    @include hamburger-line;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
  }

  .hamburger__inner::before,
  .hamburger__inner::after {
    @include hamburger-line;
    content: '';
    left: 0;
    transition: transform .2s .2s ease-in-out;
  }

  .hamburger__inner::before {
    top: -10px;
  }

  .hamburger__inner::after {
    top: 10px;
  }

  .hamburger--active .hamburger__inner {
    background-color: transparent;
  }

  .hamburger--active .hamburger__inner:before {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger--active .hamburger__inner:after {
    transform: translateY(-10px) rotate(-45deg);
  }

  .navigation {
    // min-height: 100vh;
    // height:100vh;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(48, 46, 46);
    // background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-900px);
    z-index: 60;
    transition: transform .3s .1s ease-in-out;
  }

  .navigation--active {
    transform: translateX(0px);
  }

  .navigation__list {
    padding: 0;
    font-size: 2rem;
    margin-top: 100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

  }

  .navigation__item {
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: white;
  }

}