html,
body {
  font-family: 'Crimson Pro', serif;
  font-size: 18px;
  color: white;
  margin: 1em;
  background-color: black;
  -webkit-box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

header .logo {
  height: 150px;
  font-size: 16px;
  border: solid 1.2px;
  font-family: Crimson Pro;
  font-style: normal;
  font-weight: 200;
}

header .navigation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  float: right;
}

header * {
  display: inline;
  cursor: pointer;
}

header li {
  text-align: center;
  margin: 25px;
}

header li a {
  font-family: Montserrat;
  font-style: bold;
  color: white;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header li a:hover {
  -webkit-text-decoration: bold;
          text-decoration: bold;
  color: #9e3c04;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-text-decoration: 5px bold;
          text-decoration: 5px bold;
}

h2 {
  font-size: 36px;
  font-family: Lora;
}

.text > p {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 20px;
  color: silver;
}

text.a {
  font-family: 18px, Montserrat;
}

.container {
  padding-top: 30px;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.text a {
  text-decoration: none;
  color: white;
}

.photo {
  position: relative;
}

.photo > img {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75%;
  z-index: 3;
  margin-bottom: 45px;
}

footer {
  font-style: normal;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10px;
  height: 2.5rem;
  font-size: 1vw;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 100px;
}

.small {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  position: absolute;
  bottom: -30px;
  right: 30px;
  z-index: 3;
  width: 50%;
  height: 35%;
  background-color: black;
      grid-template-areas: "img avatar  avatar avatar . ."  " p p p p . . ";
}

.small img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  max-width: 5vw;
}

.small img {
  border-radius: 50%;
}

.small .avatar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: avatar;
}

.small .name {
  font-size: 1vw;
  line-height: 15px;
}

.small .work {
  color: silver;
  font-size: 0.8vw;
}

.small p {
  margin: 0;
  padding: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: p;
  font-size: 1.8vw;
}

.text > a > img {
  background-color: white;
}

.fa-long-arrow-right {
  margin-left: 10px;
}

.text > a {
  -webkit-transition: all .1s;
  transition: all .1s;
}

.text > a:hover {
  border-style: solid;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
  }
  .text > p {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 3vw;
    color: silver;
    max-width: 75%;
  }
  .photo > img {
    max-width: 100%;
  }
  .hamburger {
    float: right;
    display: -ms-grid;
    display: grid;
    color: red;
    background-color: white;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
  }
  .hamburger,
  .navigation {
    -webkit-transition: -webkit-transform .3s .1s ease-in-out;
    transition: -webkit-transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
  }
  .hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
    z-index: 99;
  }
  .hamburger__inner {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: background-color .1s .2s ease-in-out;
    transition: background-color .1s .2s ease-in-out;
  }
  .hamburger__inner::before,
  .hamburger__inner::after {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    content: '';
    left: 0;
    -webkit-transition: -webkit-transform .2s .2s ease-in-out;
    transition: -webkit-transform .2s .2s ease-in-out;
    transition: transform .2s .2s ease-in-out;
    transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out;
  }
  .hamburger__inner::before {
    top: -10px;
  }
  .hamburger__inner::after {
    top: 10px;
  }
  .hamburger--active .hamburger__inner {
    background-color: transparent;
  }
  .hamburger--active .hamburger__inner:before {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
  }
  .hamburger--active .hamburger__inner:after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-900px);
            transform: translateX(-900px);
    z-index: 60;
    -webkit-transition: -webkit-transform .3s .1s ease-in-out;
    transition: -webkit-transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out;
    transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
  }
  .navigation--active {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .navigation__list {
    padding: 0;
    font-size: 2rem;
    margin-top: 100px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .navigation__item {
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */