// colors
$orange: #F2994A;
 


body {

    background: white;


    
}

.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}


form{
   max-width: 50%;
    flex: 1 1;
}


.forms i { 
    position: absolute; 
} 
  
.forms { 
display: flex;
flex-direction: column;
    margin-bottom: 10px; 
} 

.checkout{
    max-width: 50%;
    background: #F2F2F2;
    border-radius: 12px;
}
  

label{
    display: grid;
}



input {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 12px;
      margin: 5px;
      border-radius: 10px;
    padding: 10px;
    outline: none;
  }


  .icon {
    position: absolute;
    padding: 30px 8px;
    color: gray;
    min-width: 50px;
    text-align: center;
  }


 
  