body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  background: white;
  font-size: 16px;
}

h1 {
  margin-left: 50px;
  color: #4E5150;
  -webkit-transform: rotate(-0.02deg);
          transform: rotate(-0.02deg);
  font-size: 2.25rem;
}

h2 {
  font-size: 1.125rem;
  margin: 30px 0px 0px 0px;
  color: #4F4F4F;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form {
  max-width: 500px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 50px 10px 0;
}

form i {
  position: absolute;
}

.checkout {
  margin-top: 30px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F2F2F2;
  border-radius: 12px;
  width: 350px;
  height: 500px;
}

.checkout p {
  color: #333333;
  margin-left: 15px;
}

label {
  color: #4F4F4F;
  display: -ms-grid;
  display: grid;
  margin-top: 10px;
  font-size: 0.75rem;
}

input {
  color: #828282;
  border: 1px solid #828282;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px;
  padding: 10px 50px 10px 10px;
  padding-left: 50px;
  border-radius: 12px;
  outline: none;
  direction: rtl;
  unicode-bidi: plaintext;
  text-overflow: ellipsis;
}

.icon {
  position: absolute;
  padding: 30px 8px;
  color: #828282;
  min-width: 50px;
  text-align: center;
}

.icon2 {
  margin: 0px 15px 0px 15px;
  color: #828282;
}

select {
  text-align: center;
  border: 1px solid #828282;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 12px;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

label#country,
label#postalcode {
  width: 50%;
}

.twoinrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.twoinrow2 {
  margin: 5px 15px 5px 15px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input#fullName {
  font-weight: bold;
  color: black;
}

.allpage {
  height: 100%;
  width: 100%;
  position: absolute;
}

footer,
header {
  height: 50px;
  width: 100%;
}

footer {
  color: #A9A9A9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  background: #F2994A;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin-top: 15px;
  width: 166px;
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#checkboxtest {
  text-align: center;
  font-size: 0.75em;
  margin-top: 5px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "photo  title" "photo    Price" "photo    Price" "photo    quantity" "photo    quantity";
  margin: 20px 50px 20px 20px;
}

hr {
  width: 90%;
  color: #bdbdbd;
}

.photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: photo;
}

.photo img {
  border-radius: 20px;
  height: 100px;
  width: 100px;
}

.title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

.price {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: Price;
  color: #F2994A;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price #old {
  margin-left: 5px;
  color: #4E5150;
  font-size: 0.8rem;
  text-decoration: line-through;
}

.quantity {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: quantity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #828282;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

@media (max-width: 991.98px) {
  h1 {
    margin-left: 15px;
  }
  .container {
    display: -ms-grid;
    display: grid;
  }
  .checkout {
    width: 90vw;
    height: auto;
  }
  form {
    width: 90vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 1000px;
    margin: 0 0 0 0;
  }
  .photo img {
    height: 25vw;
    width: 25vw;
  }
  button {
    margin-bottom: 70px;
  }
}
/*# sourceMappingURL=style.css.map */